* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
.section-title {
    color: #272727;
    font-size: 30px;
    margin-bottom: 20px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-bottom: 45px;
}
.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    border: 0;
    padding: 20px 43px;

}

/* banner styles */
.header {
    background-color: #E554731A;
    display: flex;
    align-items: center;
    padding: 50px 200px 0;
    margin-bottom: 150px;
}

.banner-content {
    margin-right: 100px;
}

.banner-title {
    color: #272727;
    font-size: 70px;
    margin-bottom: 30px;
    text-align: left;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-bottom: 30px;
}



.banner-img {
    width: 450px;

}

/* featuer images styles */
.feature-flower {
    margin: 0 220px 100px;
}

.feature-intro {
    text-align: center;
    margin: 0px 200px;
}

.feature-img-container {
    text-align: center;
    display: flex;
    gap: 20px;
}
.feature-img {
    width: 250px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    padding: 70px 50px 0;
}
#img-1{
    background-color: #A7216226;
}
#img-2{
    background-color: #0597A026;
}
#img-3{
    background-color: #477D1126;
}

.feature-img-name {
    color: #272727;
    font-size: 20px;
    text-decoration: underline;
    margin-top: 30px;
}
/* delivery & support  */
.delivery{
    display: flex;
    margin: 0 210px 100px;
    background-color: #2727270D;
    justify-content: space-between;
    padding: 70px 150px;
    text-align: center;
    border-radius: 8px;
}
.delivery-img{
    width: 88px;
    height: 88px;

}
.delivery-title {
    color: rgba(39, 39, 39, 0.80);
    font-size: 16px;
    padding-top: 20px;
}

/* hot deal styles */
.hot-deal{
    display: flex;
    background-color: #E554730D;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 100px 250px;
    margin-bottom: 100px;
}
.hot-deal-container{
    text-align: center;
}
#off{
    color: #E55473;
}

#hot-deal-img{
    width: 250px;
    height: 350px;
}

/* instragram styles */
.instagram{
    margin: 0 220px 100px;
}
.insta-intro{
    padding: 0 200px;
    text-align: center;
}
.insta-images{
    display: flex;
    justify-content: space-between;
}
.insta-img {
    width: 250px;
    height: 300px;

}

/* latest deal styles */

.latest-deal{
    /* justify-content: center; */
    text-align: center;
    margin: 0 220px 100px;
    padding: 100px 200px;
    background-image: url('../images/Rectangle\ 9.png');
    border-radius: 8px;
}
.deal-mail{
    display: flex;
    gap: 10px;
}
#mail-box{
    width: 500px;
    height: 60px;
    border: 0;
    border-radius: 8px;
    padding: 0 10px 0 10px;
}

/* recently sold */
.recently-sold{
    margin: 0 220px 100px;
    text-align: center;

}
.sold-images{
    gap: 10px;
}
.sold-img{
    width: 250px;
    height: 300px;
    padding-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 30px;
}


/* footer styles */
footer{
    background-color: black;
    text-align: center;
    padding: 100px 500px;
}
.footer-title{
    padding-bottom: 20px;
}
#flower {
    color: #E55473;
    font-size: 30px;
}

#shop {
    font-size: 30px;
    color: #FFFFFF;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 15px;
    padding-bottom: 20px;
}
.footer-copy{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    padding-bottom: 20px;
}